

h1,p,span{
    font-family: 'Kaushan Script';
   

}
::selection{
    background-color: #F24C3D;
}
h1{
    position: relative;
    filter: drop-shadow(5px 5px 1px #000a);
}
h1::after{
    content: '"';
}
h1::before{
    content: '"';
}
span{
    font-size: 30px;
}
button:hover span{
    color: whitesmoke;
    transition: all 2s;
}
.lead{
    position: relative;
   padding-top: 20px;
}
.lead::after{
    content: '';
    position: absolute;
    background-color: #121210;
    width: 20%;
    height: 3px;
    top: 10px;
    left: 40%;
}

.quotes{
    transform: translatey(50%);
   
}
.quotes h1{
    font-size: 60px;
}
.paragraph{
    background-color: #22A699;
    transform: translatex(30%);
    padding: 100px;
    width: 60%;
    font-size: 30px;
    position: relative;
   
   
   
}
button{
    
    border: black solid 2px;
    position: absolute;
    top: 35rem;
    left: 44rem;
    padding: 10px;
    background-color: transparent;
   overflow: hidden;
   
   
}
button::before{
    content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #121210;
  z-index: -1;
  transform-origin: bottom left;
transform: rotate(-90deg);
transition: .5s transform;
}
button:hover::before{
    transform: rotate(0deg);
   
}


.quote-border{

        position: absolute;
        top: 10px;
        left: -100px;
    width: 130%;
    min-height: 95%;
    background-color: transparent;
    border: #363636 10px solid;
    transform: skewY(357deg);
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    

}


.icon1,.icon2{
    width: 20%;
    padding: 10px;
    position: absolute;
    background-color: #22A699;
    font-size: 40px;
}
.icon1{
    top: 0%;
    left: 10px;
    z-index: 2;
}
.icon2{
    bottom: 0%;
    right: 10px;
}

@media (min-width: 549px) and (max-width:767px ) {
   .container .paragraph{
   width: 400px;
   height: 400px;
   }
   .container #btn{
    position: absolute;
    left: 50%;
    top: 80%;
   }
  
}

@media (min-width:400px) and (max-width:548px) {
    .container .paragraph{
        width: 300px;
        height: 300px;
        font-size: 15px;
    }
    .container #btn{
        position: absolute;
        left: 40%;
        top: 70%;
       }
      

}
@media (max-width:399px) {

    .container .paragraph{
        width: 250px;
        height: 250px;
        font-size: 17px ;
       

    }
    .container .paragraph p{
       position:absolute;
       top: 30%;
       left: 0%;
    }
    .quote-border{
        width: 150%;
    }
    #author{
        position: absolute;
        top: 60%;
        left: 30%;
    }
    .container #btn{
        position: absolute;
        left: 40%;
        top: 70%;
       }

    
}